:root {
	--color-html:        74, 175, 45;    /*green*/
	--color-js:          11, 168, 160;   /*blue*/
	--color-php:         191, 122, 190;  /*crimson*/
	--color-other:       179, 183, 104;  /*brown*/
	--color-fw:          71, 7, 183;     /*violet*/
	--color-error:       226, 131, 174;  /*dark pink*/
	--color-black:       0, 0, 0;        /*black*/
	--color-dark-green:  42, 61, 47;     /*dark green*/
	--color-blue:        19, 193, 247;   /*blue blue*/
	--color-yellowgreen: 152, 195, 121;  /*yellowgreen*/
}

::-webkit-scrollbar       { width: 8px; height: 8px;}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(var(--color-black), 0.2); border-radius: 2px;}
::-webkit-scrollbar-track { background-color: rgba(var(--color-black), 0.1); }

*::selection {
	background: rgba(var(--color-js), 0.4);
}

body{
	margin: 0;
	padding: 0;
	font-family: FiraSans-Regular;
	font-size: 16px;
}
* {
    box-sizing: border-box;
}

@font-face { font-family: FiraSans-Ligth;   src: url(../fonts/FiraSans-Ligth.ttf); }
@font-face { font-family: FiraSans-Regular; src: url(../fonts/FiraSans-Regular.ttf); }
@font-face { font-family: FiraSans-Medium;  src: url(../fonts/FiraSans-Medium.ttf); }
@font-face { font-family: FiraSans-Bold;    src: url(../fonts/FiraSans-Bold.ttf); }
