
@import "../libraries/highlight/sawyer.css" screen;
@import "../module/preloader/preloader.css" screen;

@import "./basic.css" screen;

@import "../components/custom-elements.css" screen;
@import "../components/vue-components.css" screen;

/***************************************************
STRUCTURE
/***************************************************/
#container {
	display: flex;
	height: 100vh;
}
#menu-left {
	width: 300px;
	flex-shrink: 0;
	overflow: auto;
}
#menu-top {
	max-width: 1100px;
	margin: auto;
}
#content-wrapper {
	flex-grow: 1;
	padding: 0px 25px;
	overflow: auto;
	z-index: 100;
}
#content {
	max-width: 1100px;
	margin-left: 25px;
	margin: auto;
}
#content > div:after {
	content: '</>';
	display: block;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 35px;
	border-radius: 50%;
	background: rgba(var(--color-js), 0.15);
	border: 2px solid rgba(var(--color-js), 0.2);
	color: rgba(var(--color-js), 1);
}

/***************************************************
MENU-TOP
/***************************************************/
#menu-top {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 15px 0px;
}
#menu-top .menu {
	text-decoration: none;
	font-size: 14px;
	padding: 5px 10px;
	margin: 5px;
	font-family: FiraSans-Medium;
	border-bottom: 2px solid transparent;
	transition: 0.7s;
	width: auto;
	cursor: pointer;
	border-radius: 3px;
}
#menu-top .menu:hover {
	opacity: 0.7;
}

#menu-top .menu-html  { color: rgba(var(--color-html),  1);   background: rgba(var(--color-html),  0.2); }
#menu-top .menu-js    { color: rgba(var(--color-js),    1);   background: rgba(var(--color-js),    0.2); }
#menu-top .menu-php   { color: rgba(var(--color-php),   1);   background: rgba(var(--color-php),   0.2); }
#menu-top .menu-other { color: rgba(var(--color-other), 1);   background: rgba(var(--color-other), 0.2); }
#menu-top .menu-fw    { color: rgba(var(--color-fw),    0.55); background: rgba(var(--color-fw),    0.2); }

/***************************************************
MENU-LEFT
/***************************************************/
#menu-build a {
	color: black;
	text-decoration: none;
	display: block;
	cursor: pointer;
    font-size: 14px;
    user-select: none;
    border-bottom: 1px solid rgba(var(--color-black), 0.2);
    padding: 5px 15px;
    line-height: 1.7;
}
#menu-build a.active {
	background: rgba(var(--color-html), 0.1);
	color: #4aaf2d;
	font-weight: bold;
}
#menu-left .theme, #menu-left .section, #menu-left > a {
	color: black;
	text-decoration: none;
	display: block;
	cursor: pointer;
    font-size: 14px;
    user-select: none;
    border-bottom: 1px solid rgba(var(--color-black), 0.2);
    padding: 5px 15px;
    line-height: 1.7;
}
#menu-left a.active {
	background: rgba(var(--color-html), 0.1);
	color: #4aaf2d;
	font-weight: bold;
}
#menu-left .theme {
	font-weight: bold;
	cursor: default;
	text-transform: uppercase;
	color: rgba(var(--color-js), 1);
	background: rgba(var(--color-js), 0.2);
}
#menu-left .section {
	font-weight: bold;
	cursor: default;
	text-transform: uppercase;
	color: rgba(var(--color-other), 1);
	background: rgba(var(--color-other), 0.2);
}

/***************************************************
CODE
/***************************************************/
pre {
    tab-size: 4;
    margin: 10px 0px;
}
code {
	padding: 10px 25px 25px 25px !important;
    line-height: 1.5em;
    font-size: 15px;
    position: relative;
}
code.border {
	border: 2px solid rgba(var(--color-js), 0.45);
	background: rgba(var(--color-js), 0.1) !important;
}
code.none {
	background: none;
	border: 1px solid rgba(var(--color-other), 0.2);
}

/***************************************************
IMAGE
/***************************************************/
img {
	display: block;
}
img.center {
	margin: auto;
}
img.inline {
	display: inline-block;
}
img.img200 {
	width: 200px;
	height: 200px;
	object-fit: contain;
}

/***************************************************
TAGS
/***************************************************/
h1 {
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
}
h2 {
	margin: 5px 0px 15px 0px;
	padding: 15px;
	margin-top: 20px;
	font-size: 22px;
	color: #2c3e50;
	border-bottom: 1px solid #ddd;
}
h3 {
	margin: 15px 0px 15px 0px;
	padding: 10px;
	color: #42b983;
}
h4 {
	margin: 15px 0px 15px 0px;
	padding-bottom: 5px;
}
em {
	color: #690;
	font-style: normal;
}
i {
	color: grey;
}
hr {
    background-color: #ddd;
    border: none;
    height: 1px;
}
ul a {
	color: #666666;
}

/***************************************************
LISTS
/***************************************************/
.list-point, .list-num, .list-none {
	line-height: 2;
	margin-top: 5px;
	font-size: 14px;
}
.list-point {
	list-style-type: disc;
}
.list-none {
	list-style-type: none;
	line-height: 2;
	padding: 0;
	font-size: 14px;
}

/***************************************************
MENU-LEFT
/***************************************************/
#menu-left-show {
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-image: url(../img/app/show.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 10px;
	flex-shrink: 0;
}
#menu-left-starter {
	display: flex;
    font-size: 14px;
    user-select: none;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0px 2px 5px 0px rgba(var(--color-black), 0.2);
}
#menu-left-starter a {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 10px;
	color: black;
	text-decoration: none;
}

/***************************************************
MENU-LEFT-HIDE
/***************************************************/
#menu-left.hide {
	width: 70px;
}
#menu-left.hide > .theme, #menu-left.hide > a {
	display: none;
}
#menu-left.hide #menu-left-starter {
	flex-direction: column;
	align-items: center;
}
#menu-left.hide #menu-left-starter a {
	padding: 10px 20px;
}
#menu-left.hide #menu-left-starter {
	box-shadow: none;
}

/***************************************************
OTHER
/***************************************************/
.red {
	background: #e8bcc7 !important;
	padding: 10px;
	border-radius: 5px;
}
.container-margin {
	margin-left: 50px;
}
.link-page-wrapper a {
	color: grey;
}