.flex-table {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	border-radius: .25rem;
	box-shadow:
		0 10px 14px 2px rgba(33,37,41,.02), 
		0 6px 20px 5px rgba(33,37,41,.04), 
		0 8px 10px -5px rgba(33,37,41,.1);
}
.flex-table > * {
	border: 2px solid #fff;
	flex-shrink: 0;
	font-style: normal;
	color: black;
	padding: 5px;
	font-size: 14px;
	background: #f4f4f4;
}
u-fr1 {
	width: 100%;
}
u-fr2 {
	width: 50%;
}
u-fr3 {
	width: 33.33%;
}

.flex-table .accent {
	background: rgba(var(--color-html), 0.45);
}
.flex-table .header {
	background: rgba(var(--color-other), 0.35);
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}


