<h2>Регистрация компонента</h2>

<!------------------------------------------------------------->
<h4>Глобальная регистрация, работает для всех Vue объектов</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
Vue.component('component-a', {
	template: 'content'
});
</v-code>

<!------------------------------------------------------------->
<h4>Локальная регистрация</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
var app = new Vue({
	el: '#app',
	components: { 
        'component-a': {
            template: 'content'
        } 
    }
});
</v-code>

<!------------------------------------------------------------->
<h4>Локальная регистрация из объекта</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
var ComponentA = {
	template: 'content'
}

new Vue({
	el: '#app',
	components: {
		'component-a': ComponentA
	}
})
</v-code>
