<h2>Простой компонент</h2>

<v-code lang="html" title="">
&lt;div id="app"&gt;
	&lt;task&gt;&lt;/task&gt;
&lt;/div&gt;
</v-code>

<v-code lang="html" title="">
Vue.component('task', {
    data() {
        return {
            name: 'Tony',
            age: 21
        }
    },
    template: '&lt;p&gt;Hello <span v-pre>{{name}} {{age}}</span>&lt;/p&gt;',
    methods: {
        increment() {
            this.age++;
        }
    }
})
var app = new Vue({
	el: '#app'
})
</v-code>

<v-code lang="js" title="">
// Hello Tony 21
</v-code>

<ul class="list-point">
	<li><u-text-define>data()</u-text-define> - Состояние. Управление приложением</li>
	<li><u-text-define>template</u-text-define> - Представление. Отображение состояния заданное декларативно</li>
	<li><u-text-define>methods</u-text-define> - Действия. Возможные пути изменения состояния приложения в ответ на взаимодействие пользователя с представлением</li>
</ul>


<p>Из template должен возвращаться только 1 родительский объект</p>
<v-two-code type="js;js" comment=";">
<template v-slot:first>
// не сработает, выведет только первый span
template: 
	`&lt;span&gt;1&lt;/span&gt;
	&lt;span&gt;2&lt;/span&gt;`
</template>
<template v-slot:last>
// сработает
template: 
	`&lt;div&gt;
		&lt;span&gt;1&lt;/span&gt;
		&lt;span&gt;2&lt;/span&gt;
	&lt;/div&gt;`
</template>
</v-two-code>
