<h2>Динамические компоненты</h2>

<!------------------------------------------------------------->
<h4>Создание компонента</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;component <u-code>:is</u-code>="currentView"&gt;&lt;/component&gt;
</v-code>

<!------------------------------------------------------------->
<h4>Кэширование компонента (сохранение состояния)</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
<u-code>&lt;keep-alive&gt;</u-code>
	&lt;component <u-code>:is</u-code>="currentView"&gt;&lt;/component&gt;
<u-code>&lt;/keep-alive&gt;</u-code>
</v-code>

<!------------------------------------------------------------->
<h4>Пример</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;!-- если нужна анимация, component обернуть в transition --&gt;
&lt;div id="app"&gt;
	&lt;nav&gt;
		&lt;a href="#" @click="changeView('orange')"&gt;orange&lt;/a&gt;
		&lt;a href="#" @click="changeView('blue')"&gt;blue&lt;/a&gt;
	&lt;/nav&gt;
	<u-code>&lt;component :is="currentView"&gt;&lt;/component&gt;</u-code>
&lt;/div&gt;
</v-code>

<v-code lang="html" title="">
&lt;template id="orange-template"&gt;
	&lt;div class="orange-block"&gt;&lt;/div&gt;
&lt;/template&gt;
&lt;template id="blue-template"&gt;
	&lt;div class="blue-block"&gt;&lt;/div&gt;
&lt;/template&gt;
</v-code>

<v-code lang="js" title="">
var app = new Vue({
	el: '#app',
	data: {
		currentView: 'orange'
	},
	components: {
		orange: {
			template: '#orange-template'
		},
		blue: {
			template: '#blue-template'
		}
	},
	methods: {
		changeView(view) {
			this.currentView = view
		}
	}
})
</v-code>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Варианты import</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!------------------------------------------------------------->
<h4>require code 1</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
components: {
	'app-icon': require('./icons/icon-shopping-cart.vue').default
	'app-icon': () => import('./icons/icon-shopping-cart.vue')
},
beforeCreate() {
	this.$options.components.TreeFolderContents = require('./icons/icon-shopping-cart.vue').default
}
</v-code>

<!------------------------------------------------------------->
<h4>require code 2</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;template&gt;
	&lt;component :is="$options.components[name]"&gt;&lt;/component&gt;
&lt;/template&gt;
</v-code>

<v-code lang="js" title="">
&lt;script&gt;
export default {
	props: {
		name: { type: String }
	},
	created() {
		this.$options.components[this.name] = require('./icons/icon-'+this.name+'.vue').default;
	}
}
&lt;/script&gt;
</v-code>

<!------------------------------------------------------------->
<h4>Подшрузка компонента с данными из роутинга</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;template&gt;
    &lt;app-theme /&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
    components: {
        'app-theme': null,
    },
    created() {
        this.$options.components['app-theme'] = 
            require(`../category/${this.$route.params.name}.vue`).default;
    }
}
&lt;/script&gt;
</v-code>
