<h2>Передача данных между компонентами (slot)</h2>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Описание</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<ul class="list-point">
	<li>Слот имеет доступ к тем же свойствам экземпляра app.vue (т.е. к той же «области видимости»), что и остальная часть шаблона</li>
	<li>Слот не имеет доступа к области видимости &lt;app-task&gt;</li>
	<li>Всё в родительском шаблоне компилируется в области видимости родительского компонента; всё в дочернем шаблоне компилируется в области видимости дочернего компонента</li>
</ul>

<v-code lang="js" title="">
<u-code>v-slot:user</u-code>  // полная запись
<u-code>#user</u-code>        // сокращенная запись
</v-code>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Использование</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!------------------------------------------------------>
<h4>Родительский компонент</h4>
<!------------------------------------------------------>
<v-code lang="html" title="">
&lt;app-task&gt;
	&lt;template v-slot:user&gt;User Admin&lt;/template&gt;
&lt;/app-task&gt;
</v-code>

<!------------------------------------------------------>
<h4>Дочерний компонент</h4>
<!------------------------------------------------------>
<v-code lang="html" title="">
&lt;template&gt;
    &lt;div&gt;
        &lt;slot name="user"&gt;User Default&lt;/slot&gt;
    &lt;/div&gt;
&lt;/template&gt;
</v-code>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Слоты с ограниченной областью видимости</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ul class="list-point">
	<li>Атрибуты, привязанные к элементу &lt;slot&gt;, называются входными параметрами слота</li>
</ul>

<!------------------------------------------------------>
<h4>Родительский компонент</h4>
<!------------------------------------------------------>
<v-code lang="html" title="">
<span v-pre>{{userGeneral}}</span>
&lt;app-task&gt;
    &lt;template v-slot:user="slotProps"&gt;
    	&lt;!-- slotProps виден только внутри template --&gt;
    	<span v-pre>{{userGeneral = slotProps.user}}</span>
    &lt;/template&gt;
&lt;/app-task&gt;

&lt;script&gt;
export default {
    data() {
        return {
            userGeneral: null
        };
    }
&lt;/script&gt;
</v-code>

<!------------------------------------------------------>
<h4>Дочерний компонент</h4>
<!------------------------------------------------------>
<v-code lang="html" title="">
&lt;template&gt;
    &lt;div&gt;
        &lt;slot name="user" :user="userChild"&gt;&lt;/slot&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
    data() {
        return {
            userChild: 'Tony'
        }
    }
}
&lt;/script&gt;
</v-code>