
/* text */
u-text-underline, u-text-header, u-text-define, u-text-accent,
/* menu */
u-menu, u-menu-accent, u-menu-code, u-menu-border, u-menu-unactive, u-menu-outline,
/* code */
u-code, u-code-accent, u-code-mod, u-code-text, u-code-flat, u-code-list, u-code-comment, u-code-light,
/* message */
u-message-ok, u-message-info, u-message-warn, u-message-error, u-message-comment,
/* blocks */
u-block-left-padding,
/* structure */
u-code-wrapper, u-code-title, u-link-wrapper, u-clipboard
{
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
}

u-menu, u-menu-accent, u-menu-code, u-menu-border, u-menu-unactive, u-menu-outline,
u-code-text, u-code-flat, u-code-light
{
	display: inline-block;
}

u-message-ok, u-message-info, u-message-warn, u-message-error, u-message-comment,
u-block-left-padding,
u-code-wrapper, u-link-wrapper
{
	display: block;
}

/*******************************************
TEXT
*******************************************/
u-text-underline {
	color: rgba(var(--theme-violet), 1);
	border-bottom: 2px dashed rgba(var(--theme-violet), .7);
}
u-text-header {
	padding: 4px;
	border-radius: 3px;
	background-color: rgba(36, 193, 244, .55)
}
u-text-define {
	padding: 4px;
	background: rgba(var(--theme-blue), .66);
	border-radius: 3px;
	color: white;
}
u-text-accent {
	font-weight: 500;
	color: #6241ea;
}

/*******************************************
MENU
*******************************************/
u-menu, u-menu-accent, u-menu-code, u-menu-border, u-menu-outline {
	padding: 3px 5px;
	color: black !important;
	line-height: 1;
}
u-menu {
    background-color: rgba(var(--theme-orange), .3);
    border: 1px solid rgba(var(--theme-orange), 1);
    border-radius: 3px;
}
u-menu-accent {
	background-color: rgba(var(--theme-green), .35);
	border: 1px solid rgba(var(--theme-green), .6);
	border-radius: 3px;
}
u-menu-code {
	color: rgba(var(--theme-crimson), 1) !important;
	border: 1px solid rgba(var(--theme-crimson), 1) !important;
	border-radius: 3px;
}
u-menu-border {
	background-color: rgba(var(--theme-orange), .3);
    border: 1px solid rgba(var(--theme-crimson), 1);
    border-left: 4px solid rgba(var(--theme-crimson), 1);
    border-radius: 3px;
}
u-menu-unactive {
    text-decoration: underline;
}
u-menu-outline {
	border: 1px solid #6d45ff;
    border-radius: 3px;
}

/*******************************************
CODE
*******************************************/
u-code, u-code-accent, u-code-mod {
	font-family: monospace;
	padding: 1.5px 5px;
	border: 1px solid;
	border-radius: 4px;
	font-size: 14px;
}
u-code {
	background-color: rgba(var(--color-sand), .4);
	border-color: rgba(var(--color-sand), .8);
}
u-code-accent {
	background-color: rgba(var(--theme-crimson), .8);
	border-color: rgba(var(--theme-crimson), .9);
	color: white;
}
u-code-mod {
	background-color: rgba(var(--theme-blue), .7);
	border-color: rgba(var(--theme-blue), .9);
	color: white !important;
}

u-code-text {
	font-family: monospace;
	padding: 2px 5px;
	background: rgba(var(--theme-brown), .2);
	color: #e96900;
	border-radius: 3px;
	line-height: 1.5em;
	font-size: 14px;
}
u-code-light {
	font-family: monospace;
	padding: 2px 5px;
	background: rgba(var(--color-white), .7);
	color: #e96900;
	border-radius: 3px;
	line-height: 1.5em;
	font-size: 14px;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .1);
}
u-code-flat {
	font-family: monospace;
	line-height: 1.5em;
	color: rgba(var(--theme-blue), 1);
	padding: 2px 5px;
	font-size: 14px;
}
u-code-list {
	color: rgba(var(--theme-blue), 1);
	padding: 3px 5px;
	background: rgba(var(--theme-blue), .2);
	margin-right: 2px;
}
u-code-comment {
	color: var(--comment);
}

/*******************************************
MESSAGE
*******************************************/
u-message-ok, u-message-info, u-message-warn, u-message-error, u-message-comment {
	padding: 15px 10px;
	font-size: 15px;
	margin: 10px 0px;
	line-height: 1.7;
}
u-message-info {
	border-left: 4px solid rgba(var(--theme-blue), .5);
	background-color: rgba(var(--theme-blue), .2);
}
u-message-warn {
	border-left: 5px solid rgba(var(--theme-brown), .6);
	background-color: rgba(var(--theme-brown), .3);
}
u-message-ok {
	border-left: 5px solid rgba(var(--theme-green), .6);
	background-color: rgba(var(--theme-green), .3);
}
u-message-error {
	border-left: 5px solid rgba(var(--color-error), .6);
	background-color: rgba(var(--color-error), .3);
}
u-message-comment {
	border-left: 5px solid rgba(var(--theme-gray), .5);
	background-color: rgba(var(--theme-gray), .1);
}

/*******************************************
BLOCKS
*******************************************/
u-block-left-padding {
	padding-left: 50px;
}

/*******************************************
STRUCTURE
*******************************************/
u-code-wrapper {
	position: relative;
	border-radius: 6px;
	background-color: rgba(var(--color-sand), .1);
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .1);
	border: 1px solid rgba(var(--color-sand), .2);
}
u-code-title {
	border-radius: 0px 0px 0px 3px;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(var(--theme-green), .2);
	color: rgba(var(--theme-green), 1);
	padding: 3px 5px;
	font-size: 12px;
	display: block;
	min-width: 70px;
	text-align: center;
	font-family: Consolas;
}

/*******************************************
u-clipboard
*******************************************/
u-clipboard {
	cursor: pointer;
	transition: 0.4s;
}
u-clipboard:hover {
	background-color: #fff;
	box-shadow:
		0 0 0px 3px #fff,
		0 0 5px 4px rgba(var(--theme-blue), .4);
}

/*******************************************
u-link-wrapper
*******************************************/
u-link-wrapper {
	padding: 5px 10px 10px 10px;
	margin-top: 5px;
}
u-link-wrapper a {
	color: rgba(var(--color-light-violet), 1) !important;
	margin: 10px 0px;
	font-size: 15px;
	text-decoration: none;
	line-height: 1.7;
}
u-link-wrapper a:after {
	content: '';
	display: block;
}
u-link-wrapper a:before {
	content: '🪃 ';
	width: 16px;
	height: 16px;
	margin: 0px 7px;
	text-decoration: none;
}
