/* text */
u-text-underline, u-text-header, u-text-define, u-text-accent,
/* inline */
u-inline-circle, u-inline-border,
/* menu */
u-menu, u-menu-accent, u-menu-code, u-menu-border, u-menu-unactive, u-menu-outline, u-menu-gray,
/* code */
u-code, u-code-accent, u-code-mod, u-code-text, u-code-flat, u-code-list, u-code-comment, u-code-light,
/* message */
u-message-ok, u-message-info, u-message-warn, u-message-error, u-message-comment,
/* blocks */
u-block-left-padding, u-block-quote,
/* structure */
u-code-wrapper, u-code-title, u-link-wrapper, u-clipboard,
/* letters  */
u-lt {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
}

u-menu, u-menu-accent, u-menu-code, u-menu-border, u-menu-unactive, u-menu-outline, u-menu-gray,
u-code-flat, u-code-light
{
	display: inline-block;
}

u-message-ok, u-message-info, u-message-warn, u-message-error, u-message-comment,
u-block-left-padding, u-block-quote,
u-code-wrapper, u-link-wrapper
{
	display: block;
}

/*******************************************
TAGS
*******************************************/
u-lt {
	font-weight: 700;
	color:  blue;
}

/*******************************************
INLINE
*******************************************/
u-inline-circle {
	--color: var(--color-violet-medium);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	width: 23px;
	height: 23px;
	border-radius: 3px;
	background-color: rgba(var(--color), .2);
	color: rgb(var(--color));
	border: 1px solid rgba(var(--color), .2);
	font-weight: bold;
}

u-inline-border {
	border-left: 10px solid rgb(var(--color-green));
	padding-right: 5px;
}

/*******************************************
TEXT
*******************************************/
u-text-underline {
	color: rgb(var(--color-violet));
	border-bottom: 2px dashed rgba(var(--color-violet), .7);
}
u-text-header {
	padding: 4px;
	border-radius: 3px;
	background-color: rgb(var(--color-blue-light));
}
u-text-define {
	padding: 4px;
	background: rgba(var(--color-sea-green-dark), .66);
	border-radius: 3px;
	color: rgb(var(--color-white));
}
u-text-accent {
	font-weight: 500;
	color: rgb(var(--color-violet-medium));
}

/*******************************************
MENU
*******************************************/
u-menu, u-menu-accent, u-menu-code, u-menu-border, u-menu-outline, u-menu-gray {
	padding: 3px 5px;
	color: rgb(var(--color-black)) !important;
	line-height: 1;
}
u-menu {
    background-color: rgba(var(--color-yellow), .3);
    border: 1px solid rgb(var(--color-yellow));
    border-radius: 3px;
}
u-menu-accent {
	background-color: rgba(var(--color-green), .35);
	border: 1px solid rgba(var(--color-green), .6);
	border-radius: 3px;
}
u-menu-gray {
	background-color: rgba(var(--color-black), .05);
	border: 1px solid rgba(var(--color-black), .15);
	border-radius: 3px;	
}
u-menu-code {
	color: rgb(var(--color-crimson)) !important;
	border: 1px solid rgb(var(--color-crimson)) !important;
	border-radius: 3px;
}
u-menu-border {
	background-color: rgba(var(--color-sea-green-light), .2);
    border: 1px solid rgb(var(--color-sea-green-light));
    border-left: 4px solid rgba(var(--color-blue), .4);
    border-radius: 3px;
}
u-menu-unactive {
    text-decoration: underline;
}
u-menu-outline {
	border: 1px solid rgb(var(--color-violet-medium));
    border-radius: 3px;
}

/*******************************************
CODE
*******************************************/
u-code, u-code-accent, u-code-mod, u-code-text {
	font-family: monospace;
	padding: 1.5px 5px;
	border: 1px solid;
	border-radius: 4px;
	/* font-size: 14px; */
}
u-code {
	background-color: rgba(var(--color-brown-light), .4);
	border-color: rgba(var(--color-brown-light), .8);
}
u-code-accent {
	background-color: rgba(var(--color-crimson), .8);
	border-color: rgba(var(--color-crimson), .9);
	color: rgb(var(--color-white));
}
u-code-accent span {
	color: rgb(var(--color-white)) !important;
}
u-code-mod {
	background-color: rgba(var(--color-sea-green-dark), .7);
	border-color: rgba(var(--color-sea-green-dark), .9);
	color: rgb(var(--color-white)) !important;
}
u-code-text {
	background-color: rgba(var(--color-brown), .2);
	border-color: rgba(var(--color-brown), .3);
	color: rgb(var(--color-orange)) !important;
}
u-code-light {
	font-family: monospace;
	padding: 2px 5px;
	background: rgb(var(--color-white));
	color: rgb(var(--color-orange));
	border-radius: 3px;
	line-height: 1.5em;
	font-size: 14px;
	box-shadow: 0 0.125rem 0.25rem rgba(var(--color-black), .1);
}
u-code-flat {
	font-family: monospace;
	line-height: 1.5em;
	color: rgb(var(--color-sea-green-dark));
	padding: 2px 5px;
	font-size: 14px;
}
u-code-list {
	font-family: monospace;
	padding: 2px 5px;
	background: rgba(var(--color-sea-green-dark), .2);
	color: rgb(var(--color-sea-green-dark));
	border-radius: 3px;
	line-height: 1.5em;
	font-size: 14px;
	margin-right: 2px;
}
u-code-comment {
	color: rgba(var(--color-gray-70));
}


/*******************************************
MESSAGE
*******************************************/
u-message-ok, u-message-info, u-message-warn, u-message-error, u-message-comment {
	padding: 15px 10px;
	font-size: 15px;
	margin: 10px;
	line-height: 1.7;
	border-radius: 4px;
	border: 1px solid rgba(var(--color), .1);
	border-left: 5px solid rgba(var(--color), .4);
	background-color: rgba(var(--color), .1);
}

u-message-warn    { --color: var(--color-brown); }
u-message-ok      { --color: var(--color-green); }
u-message-error   { --color: var(--color-pink); }
u-message-comment { --color: var(--color-gray-40); }
u-message-info    { --color: var(--color-sea-green-dark); }


/*******************************************
BLOCKS
*******************************************/
u-block-left-padding {
	padding-left: 50px;
}

u-block-quote {
	margin: 20px 0;
	font-size: 15px;
	font-weight: 600;
	font-family: Consolas;
	letter-spacing: 1px;
	color: #f542e0;
}

/*******************************************
STRUCTURE
*******************************************/
u-code-wrapper {
	position: relative;
	border-radius: 6px;
	background-color: rgba(var(--color-green), .1);
	box-shadow: 0 0.125rem 0.25rem rgba(var(--color-black), .1);
	border: 1px solid rgba(var(--color-brown-light), .2);
}
u-code-title {
	border-radius: 0px 0px 0px 3px;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(var(--color-green), .2);
	color: rgb(var(--color-green));
	padding: 3px 5px;
	font-size: 12px;
	display: block;
	min-width: 70px;
	text-align: center;
	font-family: Consolas;
}

/*******************************************
u-clipboard
*******************************************/
u-clipboard {
	cursor: pointer;
	transition: 0.4s;
}
u-clipboard:hover {
	background-color: rgb(var(--color-white));
	box-shadow:
		0 0 0px 3px rgb(var(--color-white)),
		0 0 5px 4px rgba(var(--color-sea-green-dark), .4);
}

/*******************************************
u-link-wrapper
*******************************************/
u-link-wrapper {
	padding: 5px 10px 10px 10px;
	margin-top: 5px;
}
u-link-wrapper a {
	color: rgb(var(--color-violet-medium)) !important;
	margin: 10px 0px;
	font-size: 15px;
	text-decoration: none;
	line-height: 1.7;
}
u-link-wrapper a:after {
	content: '';
	display: block;
}
u-link-wrapper a:before {
	content: '🪃 ';
	width: 16px;
	height: 16px;
	margin: 0px 7px;
	text-decoration: none;
}
