/*******************************************
all
*******************************************/
u-code-text, u-code-flat, u-code-list, u-code-comment, u-code, u-text-define,
u-text-header, u-code-wrapper, u-link-wrapper, u-code-npm, u-code-title, u-code-accent,
u-menu, u-menu-accent, u-menu-code, u-menu-border, u-text-underline, u-text-accent,
u-block-left-padding, u-block-code, u-clipboard {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline;
}
u-code-wrapper, u-link-wrapper, u-block-left-padding, u-block-code {
	display: block;
}
u-code, u-code-text, u-code-flat {
	display: inline-block;
}

/*******************************************
elements
*******************************************/
u-code {
	background: rgba(var(--theme-violet), 0.2);
	padding: 1.2px 2px;
	border-radius: 3px;
}
u-code-text {
	font-family: monospace;
	border-radius: 5px;
	line-height: 1.5em;
	color: #e96900;
	padding: 2px 5px;
	background: rgba(var(--theme-brown), 0.2);
	font-size: 14px;
}
u-code-flat {
	font-family: monospace;
	line-height: 1.5em;
	color: rgba(var(--theme-blue), 1);
	padding: 2px 5px;
	font-size: 14px;
}
u-code-list {
	color: rgba(var(--theme-blue), 1);
	padding: 3px 5px;
	background: rgba(var(--theme-blue), 0.2);
	margin-right: 2px;
}
u-code-comment {
	color: var(--comment);
}
u-text-define {
	padding: 4px;
	background: rgba(var(--theme-blue), 0.66);
	border-radius: 3px;
	color: white;
}
u-text-header {
	padding: 5px 10px;
	border-radius: 3px;
	background: rgba(36, 193, 244, 0.55)
}
u-code-wrapper {
	background: rgba(var(--color-black), 0.07);
	position: relative;
}
u-code-accent {
	background: rgba(var(--theme-crimson), 0.4);
	padding: 2px;
}
u-text-underline {
	color: rgba(var(--theme-violet), 1);
	border-bottom: 2px dashed rgba(var(--theme-violet), 0.7);
}
u-text-accent {
	font-weight: 500;
	color: #6241ea;
}
u-clipboard {
	cursor: pointer;
	transition: 0.4s;
}
u-clipboard:hover {
	box-shadow:
	    0 0 0 2px #fff,
	    0 0 0 4px rgba(var(--theme-blue), 1);
}

/*******************************************
blocks
*******************************************/
u-block-left-padding {
	padding-left: 50px;
}
u-block-code {
	margin: 10px 0;
	padding: 10px 20px;
	border: 1px solid #f5f5f5;
	border-radius: 3px;
	font-family: monospace;
	white-space: pre;
	tab-size: 4;
	background-color: #fcfcfc;
	color: #fcfcfc;
}

/*******************************************
menu
*******************************************/
u-menu, u-menu-accent, u-menu-code, u-menu-border {
	padding: 2px 5px;
	color: black !important;
}
u-menu {
    background: rgba(245, 224, 66, 0.3);
    border: 1px solid rgba(245, 224, 66, 1);
    border-radius: 3px;
}
u-menu-unactive {
    text-decoration: underline;
}
u-menu-accent {
	background: rgba(var(--theme-green), 0.35);
	color: rgba(var(--color-dark-green), 1) !important;
	border-radius: 3px;
}
u-menu-code {
	color: rgba(var(--theme-crimson), 1) !important;
	border: 1px solid rgba(var(--theme-crimson), 1) !important;
	border-radius: 3px;
}
u-menu-border {
	background: rgba(245, 224, 66, 0.3);
    border: 1px solid rgba(159, 194, 47, 1);
    border-radius: 0px 3px 3px 0px;
    border-left: 5px solid rgba(159, 194, 47, 1);
}

/*******************************************
u-link-wrapper
*******************************************/
u-link-wrapper {
	padding: 5px 10px;
	margin-top: 5px;
}
u-link-wrapper a {
	text-decoration: none;
	color: #6241ea !important;
	margin: 10px 0px;
	font-size: 15px;
	text-decoration: underline;
	line-height: 1.7;
}
u-link-wrapper a:after {
	content: '';
	display: block;
}
u-link-wrapper a:before {
	display: inline-block;
	vertical-align: middle;
	content: '';
	width: 16px;
	height: 16px;
	margin: 0px 7px;
	background-image: url(img/link.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
u-code-npm {
	padding: 2px !important;
	background: rgba(var(--theme-crimson), 0.85) !important;
	color: white !important;
	border-radius: 2px !important;
}
u-code-title {
	border-radius: 0px 0px 0px 3px;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(var(--theme-green), 0.2);
	color: rgba(var(--theme-green), 1);
	padding: 3px 5px;
	font-size: 12px;
	display: block;
	min-width: 70px;
	text-align: center;
	font-family: Consolas;
}

/*******************************************
messages
*******************************************/
u-message-ok, u-message-info, u-message-warn, u-message-error {
	border: 0;
	display: block;
	padding: 15px 10px;
	font-size: 15px;
	margin: 10px 0px;
	line-height: 1.7;
}
u-message-info {
	border-left: 4px solid rgba(var(--theme-blue), 0.5);
	background: rgba(var(--theme-blue), 0.2);
}
u-message-warn {
	border-left: 5px solid rgba(var(--theme-brown), 0.6);
	background: rgba(var(--theme-brown), 0.3);
}
u-message-ok {
	border-left: 5px solid rgba(var(--theme-green), 0.6);
	background: rgba(var(--theme-green), 0.3);
}
u-message-error {
	border-left: 5px solid rgba(var(--color-error), 0.6);
	background: rgba(var(--color-error), 0.3);
}
