<h2>Tags</h2>

<!------------------------------------------------------------->
<h4>Подключение файла "header"</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
<%- include('blocks/header'); %>
</v-code>

<!------------------------------------------------------------->
<h4>Вывод переменной "value"</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
<%= value %>
</v-code>

<!------------------------------------------------------------->
<h4>Вывод массива "arr"</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;% arr.map(item =&gt; { %&gt;
    &lt;div&gt;&lt;%= item %&gt;&lt;/div&gt;
&lt;% }); %&gt;
</v-code>
