<!DOCTYPE html>
<html>
<head>
    <title>Dev Commit</title>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="src/img/favicon.png">
<style>
#checkPages {
    position: absolute;
    bottom: 35px;
    right: 35px;
}
.button {
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 3px;
    outline: none;
    background: #fff;
    padding: 5px 10px;
    transition: 0.4s;
    cursor: pointer;
}
.button:hover,
.button.active {
    background: rgba(0,0,0,0.8);
    color: #fff;
}
</style>
</head>
<body>

    <div id="container">
        <div id="wrapper">

            <div id="checkPages">
                <button class="button" :class="{ active: page == 'pages' }" @click="switchPage('pages')">PAGE MODE</button>
                <button class="button" :class="{ active: page == 'build' }" @click="switchPage('build')">BUILD MODE</button>
            </div>


            <div id="links">
                <ul>
                    <slot v-for="itemLink in linksContent">
                        <li v-if="itemLink">
                            <a :href="page+'/'+itemLink.page" :class="'theme-'+itemLink.theme" v-html="itemLink.title"></a>
                        </li>
                        <li v-else class="splitter"></li>
                    </slot>
                </ul>
            </div>
        </div>
    </div>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="src/css/basic.css">
    <link rel="stylesheet" type="text/css" href="src/css/index.css">

    <!-- Libraries -->
    <script src="src/libs/vue.js"></script>

    <!-- JavaScript -->
    <script src="__modules__/__links__.js"></script>
    <script>
        new Vue({
            el: '#container',
            data: {
                linksContent: ARR_LINKS,
                page: 'pages'
            },
            methods: {
                switchPage(page) {
                    this.page = page;
                },
            }
        });
    </script>
</body>
</html>    
