
@font-face { font-family: Consolas; src: url(../../fonts/Consolas.ttf); }

:root {
	--bg: 245, 241, 240;
	--color: #333;
	--comment: #6e89a2;
	--keyword: #07a;
	--tag: #905;
	--class: #690;
	--title: #DD4A68;
	--regexp: #009926;
}

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: var(--color);
	background: rgba(var(--bg), 0.7);
	font-family: Consolas;
}

.hljs-comment, .hljs-quote {
	color: var(--comment);
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst, .hljs-string {
	color: var(--keyword);
}

.hljs-selector-class, .hljs-selector-pseudo,
.hljs-doctag, .hljs-attr,
.hljs-type, .hljs-class .hljs-title,
.hljs-symbol, .hljs-bullet {
	color: var(--class);
}

.hljs-tag, .hljs-name, .hljs-attribute,
.hljs-number, .hljs-literal, .hljs-variable, .hljs-template-variable, .hljs-tag,
.hljs-meta {
	color: var(--tag);
}

.hljs-built_in, .hljs-builtin-name,
.hljs-title, .hljs-section, .hljs-selector-id {
	color: var(--title);
}

.hljs-regexp, .hljs-link {
	color: var(--regexp);
}


/*...................................................
test
...................................................*/
.hljs-deletion {
	background: #fdd;
	background: blue;
}
.hljs-addition {
	background: #dfd;
	background: blue;
}
.hljs-emphasis {
	font-style: italic;
	background: blue;
}
.hljs-strong {
	font-weight: bold;
	background: blue;
}
