
'.text.html.basic':

    'two':
        'prefix': '=two'
        'body': """
            <v-two><template v-slot:first>
            $1
            </template><template v-slot:last>
            $2
            </template></v-two>
        """

    'two-code':
        'prefix': '=two-code'
        'body': """
            <v-two-code type="js;js" comment=";">
            <template v-slot:first>
            $1
            </template>
            <template v-slot:last>
            $2
            </template>
            </v-two-code>
        """

    'list-point':
        'prefix': '=list-point'
        'body': """
            <ul class="list-point">
                <li>$1</li>
            </ul>
        """

    'list-define':
        'prefix': '=list-define'
        'body': """
            <ul class="list-point">
                <li><u-text-define>$1</u-text-define> - </li>
            </ul>
        """

    'list-count':
        'prefix': '=list-count'
        'body': """
            <ol class="list-num">
                <li>$1</li>
            </ol>
        """

    'hr3':
        'prefix': '=hr3'
        'body': """
            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
            <h3>$1</h3>
            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        """

    'hr4':
        'prefix': '=hr4'
        'body': """
            <!------------------------------------------------------------->
            <h4>$1</h4>
            <!------------------------------------------------------------->
        """

    'xcode':
        'prefix': '=xcode'
        'body': """
			<v-code lang="js" title="">
			$1
			</v-code>
        """
