<h2>CSS Multi Columns</h2>

<v-code lang="css" title="">
article {
	columns: 2 200px;             /* column-count и column-width */
	column-count: 2;              /* кол-во колонок */
	column-width: 200px;          /* ширина колонки */
	column-gap: 20px;             /* gap между колонками */
	column-rule: 1px dotted #000; /* линия между колонками */

	column-fill
	column-span
	column-rule-color
	column-rule-style
	column-rule-width
}
</v-code>

<v-iframe height="550" src="https://codepen.io/Sergeenkov/embed/bGGvjwv?height=573&theme-id=0&default-tab=css,result" />
