:root {
    --color-light-gray: #f8f9fa;
    --color-white: #fff;
    --color-black: #000;

    --color-green: 74, 175, 45;
    --color-green-blue: 11, 168, 160;

    --color-crismon: 191, 122, 190;
    --color-sand: 179, 183, 104;
    --color-violet: 71, 7, 183;
    --color-dark-green: 42, 61, 47;
    --color-blue: 19, 193, 247;
    --color-yellowgreen: 152, 195, 121;
    --color-light-crismon: 226, 131, 174;

    --border-radius: 2px;
    --box-shadow:
		0 16px 24px 2px rgba(33,37,41,.02), 
		0 6px 30px 5px rgba(33,37,41,.04), 
    0 8px 10px -5px rgba(2, 14, 27, 0.1);
    
    --color-html:        74, 175, 45;    /*green*/
    --color-js:          11, 168, 160;   /*blue*/
    --color-php:         191, 122, 190;  /*crimson*/
    --color-other:       179, 183, 104;  /*brown*/
    --color-fw:          71, 7, 183;     /*violet*/
    --color-error:       226, 131, 174;  /*dark pink*/
    --color-black:       0, 0, 0;        /*black*/
    --color-dark-green:  42, 61, 47;     /*dark green*/
    --color-blue:        19, 193, 247;   /*blue blue*/
    --color-yellowgreen: 152, 195, 121;  /*yellowgreen*/
}
