<h2>forceUpdate()</h2>

<ul class="list-point">
    <li>По умолчанию при изменении состояния компонента или пропсов, происходит повторный рендер. Если ваш метод <u>render()</u> зависит от некоторых других данных, вы можете указать React необходимость в повторном рендере, вызвав <u>forceUpdate()</u></li>
    <li>Вызов <u>forceUpdate()</u> приведёт к выполнению метода <u>render()</u> в компоненте, пропуская <u>shouldComponentUpdate()</u>. Это вызовет обычные методы жизненного цикла для дочерних компонентов, включая <u>shouldComponentUpdate()</u> каждого дочернего компонента. React по-прежнему будет обновлять DOM только в случае изменения разметки</li>
    <li>Чаще всего, <u>forceUpdate()</u> не используется. Вместо этого используются в <u>render()</u> данные из <u>this.props</u> и <u>this.state</u></li>
</ul>

<div class="v-method-wrapper">
    <v-method before="component." method="forceUpdate" after="" arg="(callback)">
    Необходимость в повторном рендере
    </v-method>

	<v-method-arg arg="callback">callback</v-method-arg>
</div>
