
'.text.html.basic':
    'two-code':
        'prefix': 'two-code'
        'body': """
            <v-two-code type="html;js" comment="comment;comment">
            <template v-slot:first>
            $1
            </template>
            <template v-slot:last>
            $2
            </template>
            </v-two-code>
        """

    'list-point':
        'prefix': 'list-point'
        'body': """
            <ul class="list-point">
                <li>$1</li>
            </ul>
        """

    'list-define':
        'prefix': 'list-define'
        'body': """
            <ul class="list-point">
                <li><u-text-define>$1</u-text-define> - </li>
            </ul>
        """

    'list-num':
        'prefix': 'list-num'
        'body': """
            <ul class="list-point">
                <li>$1</li>
            </ul>
        """

    'hr3':
        'prefix': 'hr3'
        'body': """
            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
            <h3>$1</h3>
            <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        """

    'hr4':
        'prefix': 'hr4'
        'body': """
            <!------------------------------------------------------------->
            <h4>$1</h4>
            <!------------------------------------------------------------->
        """

    'xhtml':
        'prefix': 'xhtml'
        'body': """
            <pre><code class="html"><u-code-title>html</u-code-title>
            $1
            </code></pre>
        """

    'xcss':
        'prefix': 'xcss'
        'body': """
            <pre><code class="css"><u-code-title>css</u-code-title>
            $1
            </code></pre>
        """

    'xjs':
        'prefix': 'xjs'
        'body': """
            <pre><code class="js"><u-code-title>js</u-code-title>
            $1
            </code></pre>
        """

    'xbash':
        'prefix': 'xbash'
        'body': """
            <pre><code class="bash"><u-code-title>bash</u-code-title>
            $1
            </code></pre>
        """
