<h2>Шаблонизатор EJS</h2>

<u-link-wrapper>
    <a href="https://ejs.co/" target="_blank">https://ejs.co/</a>
</u-link-wrapper>

<v-pre-npm>
npm i --save <u-code-accent>ejs</u-code-accent>
</v-pre-npm>


<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Пример</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!------------------------------------------------------------->
<h4>index.js</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
const express = require('express');
const app = express();
// указание шаблонизатора, который будем использовать
app.set('view engine', 'ejs');
// ссылка на статические файлы (css, img, doc и т.д. иначе не будут загружаться)
app.use('/public', express.static('public'));
app.get('/news/:id', (req, res) => {
    // берет шаблон news.ejs из папки views
    // передает свойство newsId = req.params.id
    // передает переменную newsParam = 234
    // передаем объект newsParam
    const obj = {title: 'Новость', id: 4, paragraphs: ['Текст', 'Числа: 2, 4', 77]};
    res.render('news', {newsId: req.params.id, newsParam: 234, newsObj: obj});
});
app.get('/about', (req, res) => {
    res.render('about');
});
app.listen(3000);
</v-code>

<!------------------------------------------------------------->
<h4>public/css/style.css</h4>
<!------------------------------------------------------------->
public - все статические файлы (css, img, doc и т.д.)

<!------------------------------------------------------------->
<h4>views/about.ejs</h4>
<!------------------------------------------------------------->
подключение статического файла
<v-code lang="html" title="">
&lt;link rel="stylesheet" href="/public/css/style.css"&gt;
</v-code>

<!------------------------------------------------------------->
<h4>views/news.ejs</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
<% include blocks/header.ejs %>    - подключение файла-заголовка
<%= newsId %>                      - вывод переменной
<%= newsObj.id %>                  - вывод переменной объекта
</v-code>
<v-code lang="html" title="">
&lt;ul&gt;
    &lt;% newsObj.paragraphs.forEach((item) => { %&gt;
        &lt;li&gt;&lt;%= item %&gt;&lt;/li&gt;
    &lt;% }); %&gt;
&lt;/ul&gt;
</v-code>

<!------------------------------------------------------------->
<h4>views/blocks/header.ejs</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;ul&gt;
    &lt;li&gt;&lt;a href="/"&gt;main&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/about"&gt;about&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/news/новости"&gt;news&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</v-code>
