<h2>express</h2>

<v-code lang="js" title="">
npm i express          - установка пакета
npm uninstall express  - удаление пакета
npm i                  - установка всех пакетов из package.json
</v-code>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Маршрутизация на Express</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<v-code lang="js" title="">
var express = require('express');
var app = express();
</v-code>

<v-code lang="js" title="">
// статическая ссылка (главная)
app.get('/', function(req, res) {
    res.send('This is home');
});

// статическая ссылка (news)
app.get('/news', function(req, res) {
    res.send('This is news');
});

// ссылка с name статьи /news/23
app.get('/news/:name', function(req, res) {
    res.send('id=' + req.params.name);
});

// ссылка с name и id статьи /news/23
app.get('/news/:name/:id', function(req, res) {
    res.send('id=' + req.params.name + req.params.id);
});
</v-code>

<v-code lang="js" title="">
// отображение html файла
app.get('/', function(req, res) {
    res.sendFile(__dirname + '/index.html');
});
app.get('/about', function(req, res) {
    res.sendFile(__dirname + '/about.html');
});
</v-code>

<v-code lang="js" title="">
app.listen(3000);
</v-code>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Шаблонизатор на Expres</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!------------------------------------------------------------->
<h4>Установка шаблонизатора ejs</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
npm i ejs
</v-code>

<!------------------------------------------------------------->
<h4>index.js</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
var express = require('express');
var app = express();
// указание шаблонизатора, который будем использовать
app.set('view engine', 'ejs');
// ссылка на статические файлы (css, img, doc и т.д. иначе не будут загружаться)
app.use('/public', express.static('public'));
app.get('/news/:id', function(req, res) {
    // берет шаблон news.ejs из папки views
    // передает свойство newsId = req.params.id
    // передает переменную newsParam = 234
    // передаем объект newsParam
    var obj = {title: 'Новость', id: 4, paragraphs: ['Текст', 'Числа: 2, 4', 77]};
    res.render('news', {newsId: req.params.id, newsParam: 234, newsObj: obj});
});
app.get('/about', function(req, res) {
    res.render('about');
});
app.listen(3000);
</v-code>

<!------------------------------------------------------------->
<h4>public/css/style.css</h4>
<!------------------------------------------------------------->
public - все статические файлы (css, img, doc и т.д.)

<!------------------------------------------------------------->
<h4>views/about.ejs</h4>
<!------------------------------------------------------------->
подключение статического файла
<v-code lang="html" title="">
&lt;link rel="stylesheet" href="/public/css/style.css"&gt;
</v-code>

<!------------------------------------------------------------->
<h4>views/news.ejs</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
<% include blocks/header.ejs %>    - подключение файла-заголовка
<%= newsId %>                      - вывод переменной
<%= newsObj.id %>                  - вывод переменной объекта
</v-code>
<v-code lang="html" title="">
&lt;ul&gt;
    &lt;% newsObj.paragraphs.forEach(function(item) { %&gt;
        &lt;li&gt;&lt;%= item %&gt;&lt;/li&gt;
    &lt;% }); %&gt;
&lt;/ul&gt;
</v-code>

<!------------------------------------------------------------->
<h4>views/blocks/header.ejs</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;ul&gt;
    &lt;li&gt;&lt;a href="/"&gt;main&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/about"&gt;about&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="/news/новости"&gt;news&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</v-code>
