
@import "../libs/highlight/sawyer-light.css" screen;
@import "../libs/highlight/sawyer-dark.css" screen;
/* @import "../libs/highlight/styles/androidstudio.css" screen; */
/* @import "../libs/highlight/styles/atom-one-dark.css" screen; */

:root {
	--color-orange:         233, 105, 0;    /* #e96900 */
	--color-red:            226, 131, 174;  /* #e283ae */
	--color-crimson:        191, 122, 190;  /* #bf7abe */
	--color-yellow:         245, 224, 66;   /* #f5e042 */
	--color-yellow-light:   253, 234, 76;   /* #fdea4c */
	--color-brown:          179, 183, 104;  /* #b3b768 */
	--color-brown-light:    227, 227, 168;  /* #e3e3a8 */
	
	--color-sea-dark:       11, 168, 160;   /* #0ba8a0 */
	--color-sea:            0, 201, 167;    /* #00c9a7 */

	--color-green:          74, 175, 45;    /* #4aaf2d */
	--color-green-light:    152, 195, 121;  /* #98c379 */

	--color-blue-dark:      44, 62, 80;     /* #2c3e50 */
	--color-blue-gray:      98, 112, 156;   /* #62709c */
	--color-blue:           19, 193, 247;   /* #13c1f7 */
	--color-blue-light:     136, 222, 249;  /* #88def9 */
	--color-blue-lighter:   236, 241, 241;  /* #ecf1f1 */

	--color-violet:         71, 7, 183;     /* #4707b7 */
	--color-violet-light:   98, 65, 234;    /* #6241ea */
	--color-violet-lighter: 254, 246, 255;  /* #fef6ff */
	
	--color-black:          0, 0, 0;        /* #000000 */
	--color-gray-darker:    107, 107, 107;  /* #6b6b6b */
	--color-gray-dark:      128, 128, 128;  /* #808080 */
	--color-semidark:       150, 150, 150;  /* #969696 */
	--color-gray-medium:    166, 166, 166;  /* #a6a6a6 */
	--color-gray-light:     221, 221, 221;  /* #dddddd */
	--color-gray-lighter:   248, 249, 250;  /* #f8f9fa */
	--color-white:          255, 255, 255;  /* #ffffff */

	--box-shadow-light: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
	--box-shadow:
		0 16px 24px 2px  rgba(33,37,41,.02),
		0 6px  30px 5px  rgba(33,37,41,.04),
		0 8px  10px -5px rgba(33,37,41,.1);
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.7;
	/*font-family: FiraSans-Regular;*/
	font-family: Segoe UI, sans-serif;
	font-size: 16px;
}
* {
    box-sizing: border-box;
}
*::selection {
	background: rgba(var(--color-sea-dark), .4);
}

/***************************************************
FONT
/***************************************************/
@font-face { font-family: FiraSans-Ligth;   src: url(../fonts/FiraSans-Ligth.ttf); }
@font-face { font-family: FiraSans-Regular; src: url(../fonts/FiraSans-Regular.ttf); }
@font-face { font-family: FiraSans-Medium;  src: url(../fonts/FiraSans-Medium.ttf); }
@font-face { font-family: FiraSans-Bold;    src: url(../fonts/FiraSans-Bold.ttf); }

/***************************************************
SCROLLBAR
/***************************************************/
* {
	scrollbar-color: rgba(var(--color-black), .2) rgba(var(--color-black), .1);
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(var(--color-black), .2);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: rgba(var(--color-black), .1);
}

/***************************************************
CODE
/***************************************************/
pre {
    tab-size: 4;
    margin: 10px 0px;
}
code {
	padding: 10px 25px 25px 25px !important;
    font-size: 15px;
    position: relative;
	border: 1px solid var(--color-blue-lighter);
	border-radius: 3px;
	box-shadow: 0 0.125rem 0.25rem rgba(var(--color-black), .075);
}
code.border {
	--color: var(--color-sea-dark);
	border: 1px solid rgba(var(--color), .2);
	border-left: 4px solid rgba(var(--color), .2);
	background: rgba(var(--color), .1) !important;
	box-shadow: none;
}
code.step {
	--color: var(--color-brown);
	border: 1px solid rgba(var(--color), .2);
	border-left: 4px solid rgba(var(--color), .2);
	background: rgba(var(--color), .1) !important;
	box-shadow: none;
}
code.none {
	background: none;
	border: 1px solid rgba(var(--color-black), .1);
	box-shadow: none;
}
code.opacity {
	background: none;
	border: 1px solid rgba(var(--color-black), .1);
	opacity: 0.7;
}
code.none u-code-title {
	display: none;
}
code.none a {
	text-decoration: underline;
	color: rgb(var(--color-sea-dark));
}
pre a {
	color: rgb(var(--color-black));
	text-decoration: none;
}

/***************************************************
IMAGE
/***************************************************/
img {
	display: block;
	object-fit: contain;
	object-position: center center;
	border-radius: .25rem;
	box-shadow: var(--box-shadow);
}
img.center {
	margin: auto;
}
img.inline {
	display: inline-block;
}
img.img200 {
	width: 200px;
	height: 200px;
	object-fit: contain;
}
img.img-width300 {
	width: 300px;
}
img.img-width500 {
	width: 500px;
}
img.img-margin {
	margin-top: 25px;
	margin-bottom: 25px;
}

/***************************************************
TAGS
/***************************************************/
h1 {
	font-size: 25px;
	margin-top: 20px;
	text-align: center;
}
h2 {
	font-size: 20px;
	margin: 5px 0px 15px 0px;
	padding: 15px;
	color: rgba(var(--color-blue-dark));
	border-bottom: 1px solid rgba(var(--color-gray-light));
}
h3 {
	font-size: 18px;
	margin: 15px 0px 15px 0px;
	padding: 10px;
	color: rgb(var(--color-blue-gray));
}
h4 {
	font-size: 16px;
	margin: 15px 0px 15px 0px;
	padding: 10px;
	padding-bottom: 5px;
	color: rgb(var(--color-gray-darker));
}
h5 {
	font-size: 15px;
	padding: 0 10px;
	color: rgb(var(--color-gray-darker));
}
em {
	color: rgb(var(--color-crimson));
	font-style: normal;
	font-weight: 500;
	position: relative;
}
em:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px dotted rgba(var(--color-crimson), .5);
}
i {
	color: rgb(var(--color-gray-dark));
}
s {
	text-decoration: none;
	color: rgb(var(--color-gray-dark));
	font-weight: normal;
}
b {
	margin-top: 10px;
	font-weight: 600;
	color: rgb(var(--color-gray-dark));
}
p {
	padding: 0 26px;
}
p.consolas {
	padding: 0;
	margin: 0 0;
	color: #f542e0;
	font-weight: bold;
	font-family: Consolas;
}
hr {
    height: 3px;
    margin: 15px 20px;
	border: none;
    border-radius: 10px;
	background-color: rgba(var(--color-gray-medium), .3);
}
ul a {
	color: rgb(var(--color-violet-light));
}
summary {
	cursor: pointer;
	outline: none;
}
mark {
	background: none;
	color: blue;
}

strong {}
var {}
small {}
mark {}
dfn {}
cite {}
kbd {}

/***************************************************
TABLE
/***************************************************/
table {
	border-collapse: collapse;
	font-size: 15px;
}
table td,
table th {
	vertical-align: top;
}
td, th {
	padding: 3px 10px;
	border: 1px solid rgba(var(--color-semidark), .4);
}
th {
	background-color: rgba(var(--color-blue), .3);
	color: rgba(var(--color-black), .7);
}
table.even tr:nth-child(odd) {
	background: rgba(var(--color-gray-lighter));
}
table td.accent {
	background-color: rgba(var(--color-brown-light), .5);
	font-weight: bold;
	color: rgba(var(--color-black), .7);
}
table.half-width td,
table.half-width th {
	width: 50%;
}

/***************************************************
LISTS
/***************************************************/
.list-point, .list-num, .list-none, .list-comment, .list-accent {
	line-height: 2;
	margin-top: 5px;
	font-size: 15px;
}
.list-point {
	list-style-type: disc;
}
.list-none {
	list-style-type: none;
	padding: 0;
}
.list-comment {
	list-style-type: "🤙 ";
	line-height: 2;
	font-size: 15px;
	color: rgb(var(--color-gray-dark));
	font-style: italic;
}
.list-accent {
	list-style-type: disc;
	border-left: 2px solid rgb(var(--color-sea));
	box-shadow: var(--box-shadow-light);
	padding-top: 10px;
	padding-bottom: 10px;
}

/***************************************************
COMMON
/***************************************************/
.span-accent {
	background-color: rgba(245, 212, 66, .5);
	border-radius: 5px;
	padding: 4px;
}
