#container {
	display: flex;
	height: 100vh;
}
#wrapper {
	flex-grow: 1;
	padding: 0px 35px 35px 35px;
	overflow: auto;
	border-left: 10px solid rgb(var(--color-gray-lighter));
}
#menu {
	flex-shrink: 0;
	width: 300px;
	height: 100%;
	overflow: auto;
}
#top {
	display: flex;
	padding: 10px;
	margin-left: 5px;
	margin-bottom: 20px;
	position: sticky;
	top: 0;
	left: 0;
	background-color: rgb(var(--color-gray-lighter));
	box-shadow: var(--box-shadow);
	user-select: none;
}
#links {
	max-width: 1100px;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}
#content {
	max-width: 1100px;
	margin: auto;
}

/***************************************************
MENU
/***************************************************/
#menu ul {
	margin: 10px 0;
}
#menu li {
	padding-right: 20px;
}
#menu h4 {
	width: 95%;
	margin: 0 auto;
	padding: 5px 15px;
	cursor: default;
	color: rgb(var(--color-black));
	border-radius: 20px;
	background-color: rgb(var(--color-gray-lighter));
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
}
#menu h4.accent {
	background-color: rgba(var(--color-blue), .2);
}
#menu h4.selected {
	background-color: rgba(var(--color-yellow), .4);
}
#menu h4.child {
	background-color: transparent;
}
#menu a {
	color: rgb(var(--color-black));
	display: block;
	cursor: pointer;
    font-size: 14px;
    user-select: none;
    text-decoration: none;
    border: 2px solid transparent;
    margin: 1px 0;
    overflow: hidden;
    text-overflow: ellipsis;
	transition: .1s;
}
#menu a:hover {
	border: 2px solid rgb(var(--color-yellow-light));
}
#menu .menu-link-active {
	border: 2px solid rgb(var(--color-yellow-light));
}
#menu hr {
	display: inline-block;
	width: 70%;
	height: 3px;
	margin: 0;
	background-color: rgba(var(--color-gray-medium), .3);
}

/***************************************************
LINKS
/***************************************************/
#links ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#links a {
	display: block;
	width: auto;
	margin: 4px;
	padding: 4px 6px;
	font-size: 14px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	border-radius: 3px;
	transition: opacity 0.7s;
	cursor: pointer;
	/* font-family: FiraSans-Medium; */
}
#links a:hover {
	opacity: 0.7;
}
#links .splitter {
	width: 100%;
	flex-shrink: 0;
}

#links .active {
	outline: 2px solid rgb(var(--color-white)) !important;
	background-color: rgb(var(--color-black)) !important;
	color: rgb(var(--color-white)) !important;
}

#links .theme-green   { --color: var(--color-green);      --alpha-cl: 1;   --alpha-bg: .2; --alpha-bd: .1; }
#links .theme-blue    { --color: var(--color-sea-dark);   --alpha-cl: 1;   --alpha-bg: .2; --alpha-bd: .1; }
#links .theme-crimson { --color: var(--color-crimson);    --alpha-cl: 1;   --alpha-bg: .2; --alpha-bd: .1; }
#links .theme-brown   { --color: var(--color-brown);      --alpha-cl: 1;   --alpha-bg: .2; --alpha-bd: .1; }
#links .theme-violet  { --color: var(--color-violet);     --alpha-cl: .55; --alpha-bg: .2; --alpha-bd: .1; }
#links .theme-gray    { --color: var(--color-semidark);   --alpha-cl: .7;  --alpha-bg: .1; --alpha-bd: .1; }

#links .theme-green,
#links .theme-blue,
#links .theme-crimson,
#links .theme-brown,
#links .theme-violet,
#links .theme-gray
 {
	color: rgba(var(--color), var(--alpha-cl));
	background-color: rgba(var(--color), var(--alpha-bg));
	border: 1px solid rgba(var(--color), var(--alpha-bd));
}

#links .theme-white {
	color: rgb(var(--color-gray-medium));
	background-color: rgb(var(--color-white));
	border: 1px solid rgb(var(--color-gray-light));
}

#links .theme-actual {
	color: rgb(var(--color-gray-medium));
	background-color: rgb(var(--color-white));
	border: 1px solid rgb(var(--color-gray-light));
	outline: 2px solid rgb(var(--color-yellow));
}

/***************************************************
TOP
/***************************************************/
#top {
	margin-left: 10px;
}
#top .link {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 10px;
	text-decoration: none;
}
#top .img {
	padding: 5px;
	cursor: pointer;
	background-color: transparent;
	box-shadow: none;
}

/***************************************************
MENU HIDE
/***************************************************/
#menu.hide {
	width: 0;
	overflow: hidden;
}
#menu.hide .link,
#menu.hide h4,
#menu.hide ul
{
	display: none;
}
#menu.hide #top {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	border-radius: 50%;
}
#menu.hide #top img {
	margin: 0;
}
#menu.hide #top a {
	display: none;
}

/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 1250px) {
	#menu.hide + #wrapper #links {
		padding-left: 50px;
	}
}

@media screen and (max-width: 950px) {
	#wrapper {
		padding: 0px 10px 10px 10px;
	}
}

@media screen and (max-width: 550px) {
	img.xl {
		width: 100%;
		height: auto;
	}
}
