:root {
	--color-black: 0, 0, 0;
	--color-green: #4fc08d;
	--color-light: #f8f9fa;
	--color-orange: #fdea4c;
	--color-white: #fff;
}
#container {
	display: flex;
	height: 100vh;
}
#wrapper {
	flex-grow: 1;
	padding: 0px 35px 35px 35px;
	overflow: auto;
	border-left: 10px solid var(--color-light);
}
#menu {
	flex-shrink: 0;
	min-width: 250px;
	max-width: 300px;
	height: 100%;
	overflow: auto;
}
#top {
	padding: 5px 15px;
	margin-bottom: 20px;
	position: sticky;
	top: 0;
	left: 0;
	background-color: var(--color-light);
	box-shadow: var(--box-shadow);
}
#links {
	padding-top: 15px;
	padding-bottom: 15px;
}

/***************************************************
MENU
/***************************************************/
#menu ul {
	margin: 10px 0;
}
#menu li {
	padding-right: 20px;
}
#menu h4 {
	width: 95%;
	margin: 0 auto;
	padding: 5px 15px;
	cursor: default;
	color: var(--color-green);
	border-radius: 20px;
	background-color: var(--color-light);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#menu a {
	color: black;
	display: block;
	cursor: pointer;
    font-size: 14px;
    user-select: none;
    padding: 2px 0px;
    text-decoration: none;
    line-height: 1;
    border: 2px solid transparent;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
#menu a:hover {
	transition: 0.2s;
	text-decoration: underline;
}
#menu .menu-link-active {
	border: 2px solid var(--color-orange);
}

/***************************************************
LINKS
/***************************************************/
#links ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#links a {
	display: block;
	width: auto;
	margin: 4px;
	padding: 5px 7px;
	font-size: 14px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	border-radius: 3px;
	transition: opacity 0.7s;
	cursor: pointer;
	/* font-family: FiraSans-Medium; */
}
#links a:hover {
	opacity: 0.7;
}
#links .splitter {
	width: 100%;
	flex-shrink: 0;
}

#links .theme-green   { color: rgba(var(--theme-green),   1);   background-color: rgba(var(--theme-green),   0.2); }
#links .theme-blue    { color: rgba(var(--theme-blue),    1);   background-color: rgba(var(--theme-blue),    0.2); }
#links .theme-crimson { color: rgba(var(--theme-crimson), 1);   background-color: rgba(var(--theme-crimson), 0.2); }
#links .theme-brown   { color: rgba(var(--theme-brown),   1);   background-color: rgba(var(--theme-brown),   0.2); }
#links .theme-violet  { color: rgba(var(--theme-violet),  .55); background-color: rgba(var(--theme-violet),  0.2); }

/***************************************************
TOP
/***************************************************/
#top .link {
	display: flex;
	align-items: center;
	text-decoration: none;
}
#top .img {
	width: 35px;
	height: 35px;
	margin-right: 20px;
	background-image: url(../img/show.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}
