#container {
	display: flex;
	height: 100vh;
}
#wrapper {
	flex-grow: 1;
	overflow: auto;
	border-left: 10px solid rgb(var(--color-gray-10));
}
#menu {
	flex-shrink: 0;
	width: 300px;
	height: 100%;
	overflow: auto;
}
#top {
	display: flex;
	padding: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	position: sticky;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgb(var(--color-gray-10));
	box-shadow: var(--box-shadow);
	user-select: none;
}
#links {
}
#content {
}
#links, #content {
	/* max-width: 1200px; */
	padding: 30px;
}

/***************************************************
MENU
/***************************************************/
#menu {
	font-family: Roboto-Light;
}
#menu ul {
	margin: 10px 0;
}
#menu li {
	padding-right: 20px;
	position: relative;
}
#menu h4 {
	width: 95%;
	margin: 0 auto;
	padding: 5px 15px;
	font-size: 14px;
	cursor: default;
	color: rgb(var(--color-black));
	border-radius: 20px;
	background-color: rgb(var(--color-gray-10));
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	font-family: Roboto-Regular;
}
#menu h4.accent {
	background-color: rgba(var(--color-blue), .2);
}
#menu h4.selected {
	background-color: rgba(var(--color-yellow), .3);
}
#menu h4.child {
	background-color: transparent;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	color: rgba(var(--color-violet), 1);
	font-size: 14px;
}
#menu a {
	color: rgb(var(--color-black));
	display: block;
	cursor: pointer;
	font-size: 14px;
	user-select: none;
	text-decoration: none;
	border: 2px solid transparent;
	margin: 1px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: .1s;
	text-decoration: none;
}
#menu a.menu-link:hover {
	border: 2px solid rgb(var(--color-yellow-light));
}
#menu .menu-link-active {
	border: 2px solid rgb(var(--color-yellow-light));
}
#menu .menu-link-vscode {
	position: absolute;
	top: 2px;
	left: -24px;
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	transition: .4s;
}
#menu .menu-link-vscode:hover {
    background-color: rgba(var(--color-violet-medium), .2);
}
#menu hr {
	display: inline-block;
	width: 70%;
	height: 3px;
	margin: 0;
	background-color: rgba(var(--color-gray-30), .3);
}
#menu li {
	list-style-type: circle;
	color: rgb(var(--color-gray-30));
}
#menu li.child {
	margin-left: 27px;
	list-style-type: disc;
	color: rgb(var(--color-blue-gray-medium));
}
#menu li.done {
	list-style-type: disc;
	color: #3455eb;
}
#menu li.check {
	list-style-type: disc;
	color: #ff0303;
}

/***************************************************
LINKS
/***************************************************/
#links {
	font-family: Roboto-Medium;
	background-color: #f0f0f0;
}
#links ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#links li {
	background-color: #fff;
	border-radius: 3px;
}
#links a {
	display: block;
	width: auto;
	margin: 4px;
	padding: 5px 6px;
	line-height: 1;
	font-size: 14px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	font-family: Roboto-Regular;
	border-radius: 5px;
	transition: opacity 0.7s;
	cursor: pointer;
}
#links a:hover {
	opacity: .7;
}
#links .splitter {
	width: 100%;
	flex-shrink: 0;
}
#links .hr {
	width: 100%;
	flex-shrink: 0;
	/* border-bottom: 1px solid #ececec; */
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0 6px;
}

#links .active {
	outline: 2px solid rgb(var(--color-white)) !important;
	background-color: rgba(var(--color-black), .9) !important;
	color: rgb(var(--color-white)) !important;
}

/***************************************************
THEMES
/***************************************************/
#links .theme-react {
	color: rgb(43, 116, 132);
	background-color: rgba(43, 216, 255, .3);
	border: 1px solid rgba(43, 216, 255, .9);
}
#links .theme-node {
	color: rgb(85, 103, 45);
	background-color: rgba(133, 190, 5, .3);
	border: 1px solid rgba(133, 190, 5, .9);
}
#links .theme-js {
	color: rgb(104, 95, 43);
	background-color: rgba(232, 212, 77, .3);
	border: 1px solid rgba(232, 212, 77, .9);
}
#links .theme-vue {
	color: rgb(34, 83, 61);
	background-color: rgba(62, 178, 127, .3);
	border: 1px solid rgba(62, 178, 127, .9);
}
#links .theme-html {
	color: rgb(195, 99, 58);
	background-color: rgba(208, 90, 39, 0.1);
	border: 1px solid rgba(222, 96, 42, 0.2);
}

#links .theme-primary {
	color: rgb(159, 159, 159);
	background-color: rgba(231, 234, 198, .4);
	border: 1px solid #e2e2e2;
}
#links .theme-secondary {
	color: rgb(173, 173, 173);
	background-color: #fff;
	border: 1px solid #ededed;
}
#links .theme-accent {
	color: rgb(100, 100, 100);
	background-color: #fff;
	border: 1px solid rgba(0, 201, 167, .6);
	outline: 1px solid rgba(0, 201, 167, .6);
}
#links .theme-actual {
	color: rgb(100, 100, 100);
	background-color: #fff;
	border: 1px solid rgba(245, 224, 66, 1);
	outline: 1px solid rgba(245, 224, 66, 1);
}

#links .theme-tech {
	color: rgb(199, 90, 209);
	background-color: rgba(212, 15, 230, 0.1);
	border: 1px solid #e2e2e2;
}

#links .theme-theory {
	color: rgb(136, 136, 136);
	background-color: rgba(233, 233, 233, 0.3);
	border: 1px solid rgb(216, 216, 216);
}

/* #links .theme-html::before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	background-image: url("https://www.svgrepo.com/show/183637/html5.svg");
	background-size: contain;
	background-position: center center;
	text-decoration: none;
	margin-right: 5px;
} */

/***************************************************
TOP
/***************************************************/
#top {
	margin-left: 10px;
}
#top .top-link {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding-left: 10px;
	text-decoration: none;
}
#top .img {
	padding: 5px;
	cursor: pointer;
	background-color: transparent;
	box-shadow: none;
}

/***************************************************
MENU HIDE
/***************************************************/
#menu.hide {
	width: 0;
	overflow: hidden;
}
#menu.hide .top-link,
#menu.hide h4,
#menu.hide ul
{
	display: none;
}
#menu.hide #top {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	border-radius: 50%;
}
#menu.hide #top img {
	margin: 0;
}
#menu.hide #top a {
	display: none;
}

/***************************************************
SEARCH
/***************************************************/
.search-wrapper {
	width: 95%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 10px;
	max-height: 500px;
	background-color: #fff;
	box-shadow: var(--box-shadow);
	border-radius: 5px;
	position: relative;
}
.search-button {
	display: block;
	width: 100%;
	border: none;
	outline: none;
	text-decoration: none;
	color: gray;
	display: block;
	margin: 4px 0;
	font-family: sans-serif;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	padding: 5px 10px;
	text-align: left;
	cursor: pointer;
	background-color:#fcfcfc;
	line-height: 1.5;
}
.search-input {
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
}
#search-result {
	position: absolute;
	left: 0;
	z-index: 200;
	width: 100%;
	margin-top: 10px;
}
.search-result-wrapper {
	background-color: #fff;
	width: 100%;
	height: auto;
	max-height: 500px;
	overflow-y: auto;
	border-radius: 5px;
	box-shadow: var(--box-shadow);
	border: 1px solid #dadada;
}


/***************************************************
ADAPTIVE
/***************************************************/
@media screen and (max-width: 1250px) {
	#menu.hide + #wrapper #links {
		padding-left: 50px;
	}
}

@media screen and (max-width: 950px) {
	#wrapper {
		padding: 0px 10px 10px 10px;
	}
}

@media screen and (max-width: 700px) {
	img.xl {
		width: 100%;
		height: auto;
	}
}
