#links {
	--link-green:   var(--theme-green);
	--link-blue:    var(--theme-blue);
	--link-crimson: var(--theme-crimson);
	--link-brown:   var(--theme-brown);
	--link-violet:  var(--theme-violet);
}

#links .theme-green   { color: rgba(var(--theme-green),   1);   background-color: rgba(var(--theme-green),   0.2); }
#links .theme-blue    { color: rgba(var(--theme-blue),    1);   background-color: rgba(var(--theme-blue),    0.2); }
#links .theme-crimson { color: rgba(var(--theme-crimson), 1);   background-color: rgba(var(--theme-crimson), 0.2); }
#links .theme-brown   { color: rgba(var(--theme-brown),   1);   background-color: rgba(var(--theme-brown),   0.2); }
#links .theme-violet  { color: rgba(var(--theme-violet),  .55); background-color: rgba(var(--theme-violet),  0.2); }


#links .theme-brown-border {
	color: rgba(var(--theme-brown), 1);
	background-color: rgba(var(--theme-brown), 0.2);
	border: 2px solid rgba(var(--theme-brown), 1);
	box-sizing: border-box;
	display: block;
}