
    <!DOCTYPE html>
        <html>
        <head>
            <title>Material-UI & JSS</title>
            <meta charset="UTF-8">
            <link rel="icon" type="image/png" href="../src/img/favicon.png">
        
            <script src="../src/js/utils.js"></script>
            <!-- Own JavaScript -->
            <script src="../__modules__/build-material-ui.js"></script>
        </head>
        <body>
        
            <div id="container">
                <div id="menu">
                    <div id="top">
                        <a href="#links" class="link">
                            <div class="img"></div>
                            <span v-html="'Material-UI & JSS'"></span>
                        </a>
                    </div>
                    
    <slot v-for="itemTitle in themesContent">
        <h4 v-html="themesEmoji+' '+itemTitle.title"></h4>
        <ul>
            <li v-for="(itemTheme, i) in itemTitle.themes">
                <a
                    class="menu-link"
                    :id="itemTheme[0]+'link'"
                    :href="'#'+itemTheme[0]"
                    @click="buildContent(itemTheme[0])"
                    v-html="itemTheme[1]"
                ></a>
            </li>
        </ul>
    </slot>

                </div>
        
                <div id="wrapper">
                    <div id="links">
                        <ul>
                            <slot v-for="itemLink in linksContent">
                                <li v-if="itemLink">
                                    <a :href="itemLink.page" :class="'theme-'+itemLink.theme" v-html="itemLink.title"></a>
                                </li>
                                <li v-else class="splitter"></li>
                            </slot>
                        </ul>
                    </div>
                    <div id="content"></div>
                </div>
            </div>
        
            <!-- CSS -->
            <link rel="stylesheet" type="text/css" href="../src/css/basic.css">
            <link rel="stylesheet" type="text/css" href="../src/css/index.css">
        
            <!-- Libraries -->
            <script src="../src/libs/highlight/highlight.pack.js"></script>
            <script src="../src/libs/vue.js"></script>
        
            <!-- Custom Elements -->
            <script src="../src/components-web/custom-elements.js"></script>
            <link rel="stylesheet" type="text/css" href="../src/components-web/custom-elements.css">
        
            <!-- Vue.js Components -->
            <script src="../src/components-vue/vue-components.js"></script>
            <link rel="stylesheet" type="text/css" href="../src/components-vue/vue-components.css">
        
            <!-- JavaScript -->
            <script src="../src/js/init.js"></script>
            <script src="../__modules__/__links__.js"></script>
            <script src="../src/vue/build.js"></script>
        </body>
    </html>    
