
    <!DOCTYPE html>
        <html>
        <head>
            <title>Webpack</title>
            <meta charset="UTF-8">
            <link rel="icon" type="image/png" href="../src/img/favicon.svg">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <script src="../src/js/utils.js"></script>
            <!-- Own JavaScript -->
            <script src="../@modules/build-webpack.js"></script>
        </head>
        <body>

            <div id="container">
                <div id="menu" :class="{ hide:isHideMenu }">
                    <div id="top">
                        <img
                            width="35px"
                            height="35px"
                            src="../src/img/show.svg"
                            class="img"
                            @click="toggleMenu()"
                        >
                        <a href="#links" class="link" v-html="'Webpack'"></a>
                    </div>
                    
    <slot v-for="itemTitle in themesContent">
        <h4
            v-html="(!itemTitle.child ? themesEmoji : '')+' '+itemTitle.title"
            :class="{
                accent: itemTitle.accent,
                selected: itemTitle.selected,
                child: itemTitle.child
            }"
        ></h4>
        <ul>
            <slot v-for="(itemTheme, i) in itemTitle.themes">
                <li v-if="itemTheme[0]">
                    <a
                        class="menu-link"
                        :id="itemTheme[0]+'link'"
                        :href="'#'+itemTheme[0]"
                        @click="buildContent(itemTheme[0])"
                        v-html="itemTheme[1]"
                    ></a>
                </li>
                <hr v-else />
            </slot>

        </ul>
    </slot>

                </div>

                <div id="wrapper">
                    <div id="links">
                        <ul>
                            <slot v-for="itemLink in linksContent">
                                <li v-if="itemLink">
                                    <a
                                        :href="itemLink.page"
                                        :class="{
                                            ['theme-'+itemLink.theme]: true,
                                            active: itemLink.page == pageName
                                        }"
                                        v-html="itemLink.title"
                                    ></a>
                                </li>
                                <li v-else class="splitter"></li>
                            </slot>
                        </ul>
                    </div>
                    <div id="content"></div>
                </div>
            </div>

            <!-- CSS -->
            <link rel="stylesheet" type="text/css" href="../src/css/basic.css">
            <link rel="stylesheet" type="text/css" href="../src/css/index.css">

            <!-- Libraries -->
            <script src="../src/libs/highlight/highlight.pack.js"></script>
            <script src="../src/libs/vue.js"></script>

            <!-- Custom Elements -->
            <script src="../src/components-web/custom-elements.js"></script>
            <link rel="stylesheet" type="text/css" href="../src/components-web/custom-elements.css">

            <!-- Vue.js Components -->
            <script src="../src/components-vue/vue-components.js"></script>
            <link rel="stylesheet" type="text/css" href="../src/components-vue/vue-components.css">

            <!-- JavaScript -->
            <script src="../src/js/init.js"></script>
            <script src="../@modules/@links.js"></script>
            <script src="../src/vue/build.js"></script>
        </body>
    </html>
