<h2>React.createElement</h2>

<ul class="list-point">
    <li>Код, написанный с использованием <u-code-text>JSX</u-code-text>, будет преобразован в <u-code-text>React.createElement()</u-code-text></li>
</ul>

<div class="v-method-wrapper">
    <v-method before="React." method="createElement" after="" arg="(type, [props], [...children])">
    Создаёт и возвращает новый React-элемент определённого типа
    </v-method>

	<v-method-arg arg="type">
		строка, содержащая:
		<ul class="list-point">
		    <li>Имя тега (например, 'div' или 'span')</li>
		    <li>React-компонент (класс или функция)</li>
		    <li>React-фрагмент</li>
		</ul>
	</v-method-arg>

	<v-method-arg arg="[props]">props</v-method-arg>
	<v-method-arg arg="[...children]">children</v-method-arg>

	<v-method-return>Новый React-элемент определённого типа</v-method-return>
</div>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Варианты createElement</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<v-two-code type="js;js" comment="Отдельные createElement;Родительский createElement">
<template v-slot:first>
var image     = React.createElement('img', { src: '...' });
var title     = React.createElement('h1', null, 'React');
var subtitle  = React.createElement('p', null, '...');
var container = React.createElement(
	'div', 
	{ className: 'container' }, 
	image, title, subtitle
);

ReactDOM.render(
	container, 
	document.getElementById('root')
);
</template>
<template v-slot:last>
var container = React.createElement('div', { className: 'container' },
	React.createElement('img', { src: '...' }),
	React.createElement('h1', null, 'React'),
	React.createElement('p', null, '...'),
);

ReactDOM.render(
	container, 
	document.getElementById('root')
);
</template>
</v-two-code>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Сокращенный синтаксис</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<v-two-code type="js;js" comment="Полный синтаксис;Сокращенный синтаксис">
<template v-slot:first>
var title = React.createElement('div', null, 'Привет, мир!'),
</template>
<template v-slot:last>
var title = e('div', null, 'Привет, мир!'),
</template>
</v-two-code>
