<h2>Computed Properties</h2>

<ul class="link-page-wrapper">
	<li><a href="#options-and-other-computed-set">Сеттеры вычисляемых свойств</a></li>
	<li><a href="#options-and-other-computed-samples">Примеры</a></li>
</ul>

<ul class="list-point">
	<li><u-text-define>Computed Properties</u-text-define> - вычисляемые (обработанные) свойства применяются когда есть зависимость переменных от других переменных</li>
	<li>Кешируются, основываясь на своих реактивных зависимостях. Вычисляемое свойство пересчитывается лишь тогда, когда изменится одна из его реактивных зависимостей</li>
</ul>

<v-code lang="html" title="">
&lt;div id="app"&gt;
	&lt;input type="text" @input="increment($event.target.value)"&gt;
	&lt;p&gt;<span v-pre>{{value}}</span>&lt;/p&gt;
	&lt;p&gt;<span v-pre>{{doubleValue}}</span>&lt;/p&gt;
&lt;/div&gt;
</v-code>

<v-code lang="js" title="">
var app = new Vue({
	el: '#app', 
	data: {
		value: 1
	},
	methods: {
		increment(value) {
			this.value = value
		}
	},
	computed: {
		doubleValue() {
			return this.value * 2
		}
	}
});
</v-code>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3 id="options-and-other-computed-set">Сеттеры вычисляемых свойств</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ul class="list-point">
	<li>По умолчанию вычисляемые свойства работают только на чтение, но при необходимости можно также указать и сеттер</li>
	<li>Теперь запись <u-code-text>vm.fullName = 'Иван Иванов'</u-code-text> вызовет сеттер, и <u-code-text>vm.firstName</u-code-text> и <u-code-text>vm.lastName</u-code-text> будут соответствующим образом обновлены</li>
</ul>

<v-code lang="js" title="">
computed: {
	fullName: {
		// геттер:
		get: function () {
			return this.firstName + ' ' + this.lastName
		},
		// сеттер:
		set: function (newValue) {
			var names = newValue.split(' ')
			this.firstName = names[0]
			this.lastName = names[names.length - 1]
		}
	}
}
</v-code>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3 id="options-and-other-computed-samples">Примеры</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<!------------------------------------------------------------->
<h4>Пример #1. При вводе более 10 символов, скрывается кнопка</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;div id="app"&gt;
	&lt;form action=""&gt;
		&lt;span&gt;<span v-pre>{{ count }}</span> / 10&lt;/span&gt;
		&lt;textarea v-model="text"&gt;&lt;/textarea&gt;
		&lt;button <u-code>v-if="count &lt;= 10"</u-code>&gt;Отправить&lt;/button&gt;
	&lt;/form&gt;
&lt;/div&gt;
</v-code>

<v-code lang="js" title="">
var app = new Vue({
	el: '#app',
	data: {
		text: ''
	},
	computed: {
		count() {
			return this.text.length
		}
	}
})
</v-code>
