<h2>Head</h2>

<ul class="list-point">
    <li>Изменение раздела <em>&lt;head&gt;&lt;/head&gt;</em></li>
</ul>

<v-code lang="js" title="">
import <u-code>Head</u-code> from 'next/head';

const App = () =&gt; {
    return (
        &lt;&gt;
            &lt;Head&gt;
                &lt;title&gt;Hello&lt;/title&gt;
                &lt;meta name='keywords' content='' /&gt;
                &lt;meta name='description' content='' /&gt;
                &lt;meta charSet='utf-8' /&gt;
            &lt;/Head&gt;
        &lt;/&gt;
    )
}

export default App;
</v-code>
