<h2>Подключение изображений</h2>

<!------------------------------------------------------------->
<h4>1. Глобальный файл из директории "public"</h4>
<!------------------------------------------------------------->
<ul class="list-point">
    <li>Обязательно задавать атрибуты <u>width</u> и <u>height</u></li>
</ul>

<v-code lang="js" title="">
import Image from 'next/image';

const App = () => {
    return (
        &lt;Image
            src="/logo.png"
            width="200"
            height="200"
            alt="Logo"
            priority
        /&gt;
    )
}
</v-code>

<!------------------------------------------------------------->
<h4>2. Локальный файл</h4>
<!------------------------------------------------------------->
<u-link-wrapper>
    <a href="https://nextjs.org/docs/app/building-your-application/optimizing/images#local-images" target="_blank">https://nextjs.org/docs/app/building-your-application/optimizing/images#local-images</a>
</u-link-wrapper>

<ul class="list-point">
    <li>Не обязательно задавать атрибуты <u>width</u> и <u>height</u></li>
</ul>

<v-code lang="js" title="">
import Image from 'next/image';
import logo from './img/logo.svg';

const App = () => {
    return (
        &lt;Image
            src={logo}
            alt="Logo"
            priority
            className={styles.logo}
        /&gt;
    )
}
</v-code>

<!------------------------------------------------------------->
<h4>3. Background-image в CSS</h4>
<!------------------------------------------------------------->
<ul class="list-point">
    <li>Работает как обычно</li>
</ul>

<v-code lang="css" title="">
.item {
    background-image: url(./img/logo.svg);
	width: 200px;
	height: 200px;
}
</v-code>

<!------------------------------------------------------------->
<h4>4. Background-image в JSX</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
import Image from 'next/image';
import logo from './img/logo.svg';

const App = () => {
    return (
        &lt;div style=<span v-pre>{{</span>
            backgroundImage: `url(${logo.src})`,
            width: '200px',
            height: '200px',
            backgroundSize: 'contain'
        }&gt;&lt;/div&gt;
    )
}
</v-code>
