/*******************************************
v-two
v-two-code
*******************************************/
.v-two-wrapper {
	display: flex;
	margin: 10px 0px;
}
.v-two-column {
	margin: 0px 5px;
}
.v-two-column-half {
	width: 50%;
}
.v-two-column-grow {
	flex-grow: 1;
}

/*******************************************
v-pre-npm
*******************************************/
.v-pre-npm code {
	background: none !important;
	position: relative;
	padding: 0px 15px 15px 25px !important;
}
.v-pre-npm code:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;
	background: #bf7abe;
}

/*******************************************
v-method, v-method-arg, v-method-return
*******************************************/
.v-method-wrapper {
	font-size: 0px;
	background: #fef6ff;
	padding: 20px;
	border-left: 4px solid #00c9a7;
	line-height: 2;
	margin: 10px 0px;
}
	.v-method-wrapper .el {
		font-family: monospace;
		font-size: 15px;
	}
	.v-method-wrapper .expression {
		padding: 4px;
		color: #e96900;
		background: rgba(179, 183, 104, 0.2);
	}
	.v-method-wrapper .method {
		background: #00c9a7;
		color: #fff;
		padding: 4px;
		text-shadow: 0px 0px 2px #000;
	}
	.v-method-wrapper .text {
		margin-left: 4px;
	    font-family: FiraSans-Regular;
	    color: rgba(0,0,0,0.7);
	}


.v-method-arg--wrapper {
	padding-left: 30px;
}
	.v-method-arg--wrapper .icon::before {
		content: '⚡️';
		padding: 2px 7px;
		font-size: 15px;
		color: #bf7abe;
	}
	.v-method-arg--wrapper .arg {
		padding: 2px 4px;
		border-radius: 3px;
		background: #fff;
		border: 1px solid #e96900;
		color: #e96900;
	}
	.v-method-arg--wrapper .text {
		font-family: FiraSans-Regular;
		color: rgba(0,0,0,0.7);
	}


.v-method-return--wrapper {
	padding-left: 30px;	
}
	.v-method-return--wrapper .icon::before {
		content: '🍩';
		padding: 2px 7px;
		font-size: 15px;
		color: #bf7abe;
	}
	.v-method-return--wrapper .arg {
		padding: 2px 4px;
		border-radius: 3px;
		font-weight: bold;
		color: #e96900;
	}
	.v-method-return--wrapper .text {
		font-family: FiraSans-Regular;
		color: rgba(0,0,0,0.7);
	}

/*******************************************
v-details
*******************************************/
.v-details {
	--color-accent: #bab495;
}
.v-details summary::-webkit-details-marker {
	color: var(--color-accent);
	margin-right: 10px;
}
.v-details summary::marker {
	color: var(--color-accent);
	margin-right: 10px;
}
.v-details summary {
	font-weight: 500;
	color: var(--color-accent);
}
