<h2>Глобальный компонент</h2>

<!------------------------------------------------------------->
<h4>./main.js</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
import './components/ui'
</v-code>

<!------------------------------------------------------------->
<h4>./components/ui/index.js</h4>
<!------------------------------------------------------------->
<v-code lang="js" title="">
import Vue from 'vue'
import Button from './Button.vue'
Vue.component('ui-button', Button)
</v-code>

<!------------------------------------------------------------->
<h4>./components/ui/Button.vue</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;template&gt;
    &lt;button :class="classes" class="ui-btn"&gt;
        &lt;slot&gt;&lt;/slot&gt;
    &lt;/button&gt;
&lt;/template&gt;
</v-code>
<v-code lang="js" title="">
&lt;script&gt;
export default {
    props: {
        color: { type: String, default: 'primary' },
        block: { type: Boolean }
    },
    computed: {
        classes() {
            return {
                ['ui-btn--'+this.color]: true,
                'ui-btn--block': this.block
            };
        }
    }
}
&lt;/script&gt;
</v-code>
<v-code lang="css" title="">
&lt;style scoped&gt;
.ui-btn {
    display: block;
}
.ui-btn--primary {
    background: yellowgreen;
}
&lt;/style&gt;
</v-code>

<!------------------------------------------------------------->
<h4>Any Component</h4>
<!------------------------------------------------------------->
<v-code lang="html" title="">
&lt;ui-button @click.<u-code>native</u-code>="getFunc" color="primary" block&gt;This is a button&lt;/ui-button&gt;
</v-code>

<ul class="list-point">
	<li><u-text-define>.native</u-text-define> - подписка на нативные события браузера на корневом элементе компонента</li>
	<li>через <u-text-define>.native</u-text-define> вешаются события на компоненты</li>
	<li>а т.к. button рутовый элемент компонента то клик вешается на кнопку</li>
	<li>есть еще <u-text-define>.left</u-text-define> если нужно навешать обработчик на обычный блок div или еще что-то</li>
</ul>
