<h2>Информация</h2>

<ul class="list-point">
	<li><u-text-define>Компоненты</u-text-define> - это переиспользуемые экземпляры Vue со своим именем и предустановленными опциями. Его можно использовать как пользовательский тег внутри корневого экземпляра <u>Vue</u>, созданного с помощью <u-code>new Vue</u-code></li>
	<li>Экземляр <u>Vue</u> организован в дерево вложенных, повторно используемых компонентов</li>
	<li>Когда экземпляр <u>Vue</u> создан, он добавляет все свойства, найденные в опции <u>data</u>, в систему реактивности Vue. Поэтому представление будет «реагировать» на их изменения, обновляясь в соответствии с новыми значениями. Когда значения изменяются, представление будет переотрисовано. Свойства в data будут реактивными, только если они существовали при создании экземпляра</li>
</ul>

<u-link-wrapper>
	<a href="https://vuejsdevelopers.com/2017/03/24/vue-js-component-templates/" target="_blank">7 Ways To Define A Component Template in Vue.js</a>
</u-link-wrapper>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<h3>Преимущества перед спецификацией W3C Web Components</h3>
<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
<ol class="list-num">
	<li>Поддерживается большинством браузеров (IE9 и выше). При необходимости компоненты Vue могут быть «обёрнуты» в нативные пользовательские элементы</li>
	<li>Возможности, недоступные в простых пользовательских элементах: кросс-компонентная передача данных, коммуникация с использованием пользовательских событий и интеграция с инструментами сборок</li>
</ol>
